body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.section {
    margin-bottom: 30px;
}

.section h2 {
    margin-bottom: 10px;
    color: #444;
}

.section input, .section select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.section button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.section button:hover {
    background-color: #555;
}
.navbar {
  background-color: #888;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  color: white;
  position: relative;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px #333;
  flex: 1;
}

.logo span {
  color: rgb(232, 223, 186);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.nav-links li a:hover,
.nav-links li a.active {
  text-decoration: underline;
}

.icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.icons a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.icons a:hover {
  color: #ccc;
}
